@media only screen and (max-width: 766px) {
    .ctnBanner .logoEmpresa {
        height: 10rem;
        width: auto;
        margin: auto;
    }
    
    .bannerResponsive {
        margin: 6rem 3rem !important;
    }
    .ctnBanner .parrafoBanner p {
        padding: 0 1rem;
    }
    .sctSombra {
        padding: 2rem;
    }

    .col-3-socios, .col-4-socios {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        grid-gap: 3rem;
        margin-bottom: 4rem;
    }

    section#contacto {
        width: 90%;
    }

}


